
  
  body {
  background-color: #f4f6fb;  /* very light bluish gray */
  color: #1f2933;
}

.main_header{
    background-color: rgb(134, 134, 223);
    height: 100px;
 
}
.main_header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.header_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
    
}
.header_buttons button{
    background-color: #ffffff;
  color: #2f3a8f;        
  border: 1px solid #2f3a8f;
    width: max-content;
    height: 30px;
    border-radius: 8px;

}
.header_buttons button:hover{
    background-color: #e6e9ff;
}
 

.close_modal_container{
    display: flex;
    justify-content: flex-end;
}
#close_modal {
  background-color: #e5e7eb;
  color: #1f2933;
  border-radius: 4px;
  border: 1px solid blue;
  width: max-content;
  
}

#close_modal:hover {
  background-color: #d1d5db;
}

#submit_btn {
  background-color: #2f3a8f;
  color: white;
  border-radius: 4px;
  width: 80px;
  height: 25px;
  border: 1px solid blue;
}
.submit_container{
    display: flex;
    justify-content: center;
    
}

#submit_btn:hover {
  background-color: #1f2a6d;
}
